<footer style="padding-top: 40px;" class="text-center container-fluid">
    <a href="https://www.linkedin.com/in/minyahilt/" style="padding-right:20px;" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i> </a>
    <a href="https://calendly.com/yegofm/15min" style="padding-right:20px;" target="_blank"><i class="fa fa-calendar fa-2x text-success"></i> </a>
    <a routerLink="/project" style="padding-right:20px;"><i class="fa fa-code fa-2x text-dark"></i> </a>
    <a routerLink="/resume" style="padding-right:20px;"><i class="fa fa-file-pdf-o fa-2x text-danger"></i> </a>
    <a href="mailto:yegofm@yahoo.com"><i class="fa fa-envelope fa-2x text-warning"></i> </a>
  </footer> 
