<footer style="padding-top: 40px;" class="text-center container-fluid">
    <a href="https://www.linkedin.com/in/minyahilt/" style="padding-right:20px;" target="_blank"><i class="bi bi-linkedin fs-1"></i> </a>
    <a href="https://calendly.com/yegofm/15min" style="padding-right:20px;" target="_blank"><i class="bi bi-calendar-date text-success fs-1"></i> </a>
    <a routerLink="/project" style="padding-right:20px;"><i class="bi bi-code-square fs-1 text-dark"></i> </a>
    <a  href="../assets/files/resume.pdf" target="_blank" style="padding-right:20px;"><i class="bi bi-file-earmark-pdf fs-1 text-danger"></i> </a>
    <a href="mailto:yegofm@yahoo.com"><i class="bi bi-envelope fs-1 text-warning"></i> </a>
  </footer> 
