<div class="card text-center" style="padding: 40px 0 40px 0;">
    <div class="card-body">
      <h5 class="card-title">Education</h5>
      <p><i class="fa fa-graduation-cap fa-3x"></i></p>
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <img src=".../assets/images/Umgc.png"  alt="..." style="width: 50px; display: block; margin-left: auto; margin-right: auto;">
            <div class="card-body">
              <h5 class="card-title">University Of Maryland Global Campus</h5>
              <p class="card-text">MSc In Computer Engineering</p>
              <p class="card-text">GPA: 3.92</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img src="../assets/images/uw.png"  alt="..." style="width: 50px; display: block; margin-left: auto; margin-right: auto;">
        
            <div class="card-body">
              <h5 class="card-title">University of Washington</h5>
              <p class="card-text">BSC in Computer Science and Engineering</p>
              <p class="card-text">Seattle, WA</p>
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
              <img src="../assets/images/aau.jpeg"  alt="..." style="width: 50px; display: block; margin-left: auto; margin-right: auto;">
        
              <div class="card-body">
                <h5 class="card-title">Addis Ababa University</h5>
                <p class="card-text">BSC in Mathematics</p>
                <p class="card-text">Addis Ababa, Ethiopia</p>
                <p></p>
              </div>
            </div>
          </div>
      </div>
    
      <div  style="padding: 40px 0 40px 0;">
        
          <h5 class="card-title">Work Experience</h5>
          <a href="../assets/files/resume.pdf" target="_blank" class="btn btn-primary">Resume</a>
        
       
      </div>
    </div>
    
      <div class="row  row-cols-1 row-cols-md-4">
        <div class="col-sm-3">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/images/Wells_Fargo.png" class="img-fluid rounded-start" alt="wellsfargo">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Wells Fargo (June 2023 - Present)</h5>
                  <p class="card-text">Developed and maintained data aggregation RESTful web services that enables seamless integration with external APIs.</p>
                  <a href="https://www.wellsfargo.com/" class="btn btn-outline-warning" alt="wellsfargo" target="_blank">Wells Fargo</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/images/T-Mobile.png" class="img-fluid rounded-start" alt="T-Mobile">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">T - Mobile (Oct 2020 - Jun 2023)</h5>
                  <p class="card-text">Create new features, and modify an existing public facing e-commerce platform using spring boot and angular frameworks.</p>
                  <a href="https://www.t-mobile.com/" class="btn btn-outline-primary" target="_blank">T-Mobile</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/images/verizon.avif" class="img-fluid rounded-start" alt="verizon">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Verizon (Dec 2018 - Oct 2020)</h5>
                  <p class="card-text">Developed microservices using Spring MVC and Spring Boot, to create scalable and efficient applications.</p>
                  <a href="https://www.verizon.com/" class="btn btn-outline-danger" target="_blank">Verizon</a>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="col-sm-3">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../assets/images/Lockheed-Martin.png" class="img-fluid rounded-start" alt="lockheedmartin">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Lockheed Martin (Mar 2017 - Dec 2018)</h5>
                    <p class="card-text">Develop automation tools to support continues integration and continues development of the software release process.</p>
                    <a href="https://www.lockheedmartin.com/en-us/index.html" class="btn btn-outline-primary" target="_blank">Lockheed Martin</a>
                  </div>
                </div>
              </div>
            </div>
            </div>
      </div>
    
   
  </div>



 