<div class="card text-center" style="padding: 40px 0 40px 0;">
    
    <div class="card-body" style="padding-top: 40px">
      <h5 class="card-title">Hire me</h5>
      <p class="card-text">If you are interested in my profile you can contact me below:</p>
      <a href="https://www.linkedin.com/in/minyahilt/" class="btn btn-outline-primary me-1" target="_blank"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
      <a routerLink="/resume" class="btn btn-outline-danger me-1" target="_blank"><i class="fa fa-phone"></i> 469-213-0534</a>
      <a href="mailto:yegofm@yahoo.com" class="btn btn-outline-success me-1"><i class="fa fa-envelope text-white"></i>Email</a>
    </div>
    
  </div>