
  

  <main class="px-3">
    <img src="../assets/images/new.png" alt="Workplace" usemap="#workmap">
    <a style="position: absolute; top:442px; left: 400px; width: 105px; height: 66px;"  alt="Home" title="Home" routerLink="/home" class="btn btn-lg btn-secondary btn-rounded"><i class="fa fa-home"></i> Home</a>
    <a style="position: absolute; top: 300px; left: 615px; width: 105px; height: 66px;"  alt="GitHub" title="GitHub" href="https://github.com/TheNorthFox"class="btn btn-lg btn-success"><i class="fa fa-github"></i> Projects</a>
    <a style="position: absolute; top: 717px; left: 616px; width: 105px; height: 66px;"  alt="Email" title="Email" href="mailto:yegofm@yahoo.com" class="btn btn-lg btn-danger"><i class="fa fa-google-plus-square"></i> Email</a>
    <a style="position: absolute; top: 442px; left: 847px; width: 105px; height: 66px;"  alt="Calendar" title="Calendar" class="btn btn-lg btn-info"><i class="fa fa-calendar"></i> Calendar </a>
    <a style="position: absolute; top: 605px; left: 400px; width: 105px; height: 66px;"  alt="LinkedIn" title="LinkedIn" href="https://www.linkedin.com/in/minyahilt/" class="btn btn-lg btn-primary"><i class="fa fa-linkedin-square"></i>LinkedIn</a>
    <a style="position: absolute; top: 605px; left: 840px; width: 105px; height: 66px;"  alt="Resume" title="Resume" routerLink="/resume"  class="btn btn-lg btn-warning"><i class="fa fa-edit"></i> Resume</a>
  </main>


<router-outlet></router-outlet>
