
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a title="Home" routerLink="/home" class="btn btn-lg btn-secondary navbar-brand btn-rounded"><i class="fa fa-home"></i> Home</a>
    <form class="d-flex">
      <a title="contact" routerLink="/contact" class="btn btn-lg btn-secondary me-1"><i class="fa fa-phone"></i> Contact </a>
      <a title="LinkedIn" routerLink="/about" class="btn btn-lg btn-secondary"><i class="fa fa-info"></i> About</a>
    </form>
  </div>
</nav>
  
<router-outlet></router-outlet>
<app-footer></app-footer>
