


  <div class="card text-center" style="padding: 40px 0 40px 0;">
    <div class="card-body">
      <h5 class="card-title">Projects</h5>
      <p><i class="fa fa-github fa-3x"></i></p>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <p><i class="fa fa-envelope fa-3x text-primary"></i></p>
        <div class="card-body">
            <h5 class="card-title">USPS Informed Delivery</h5>
            <p class="card-text">This is a mobile app that is used to notify upcoming mails. The app is developed using Dart/Flutter.</p>
            <a href="https://github.com/umgc/fall2022" class="btn btn-dark" target="_blank"><i class="fa fa-code"></i> Project</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <p><i class="fa fa-code fa-3x text-success"></i></p>
        <div class="card-body">
            <h5 class="card-title">Food Recipe</h5>
            <p class="card-text">This is a recipe web application developed using React. The app provides nutrition data based on <a href="https://api.edamam.com/"> EDAMAM</a> API</p>
        
            <a href="https://github.com/TheNorthFox/Recipe-Webapp" class="btn btn-dark" target="_blank"><i class="fa fa-code"></i> Projects</a>
          </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <p><i class="fa fa-music fa-3x text-danger"></i></p>
          <div class="card-body">
            <h5 class="card-title">Media Player</h5>
            <p class="card-text">This is a simple media player developed using angular and spring boot.</p>
            <p></p>
            <a href="https://github.com/TheNorthFox" class="btn btn-dark" target="_blank"><i class="fa fa-code"></i> Projects</a>
          </div>
        </div>
      </div>
  </div>
  </div>
  </div>