<!-- <div class="content text-center" role="main">


   <main class="px-3">
    <div class="text-center">
    <img src="../assets/images/image1.jpeg" class="rounded mx-auto d-block" width="304" height="236" alt="profile pic">
    </div>
  
    <h1 class="text-primary">Hi my name is Minyahil TK</h1>
  
    <p class="lead text-danger">I'am a full stack web applicaation developer with over six years of experience, I am passionate about building scalable, secure, and user-friendly web applications with Java/Spring boot and Angular.</p>
    
  </main> 

</div> -->